$brown_color: #431B0B;
$yellow_color: #FCB836;
$red_color: #E60023;
$orange_color: #F26C25;
$gray_color: #F5F5F5;

$primary-font: 'Raleway', Arial, sans-serif;
$title-font: 'Roboto', Times, sans-serif;