.events {

    transition: all 400ms ease-in-out;
    position: relative;

    .image {
        height: 300px;
    }
    
    .card-body {
        background: linear-gradient(200deg, $brown-color, $yellow-color);
        opacity: 0.8;
        position: absolute;
        bottom: 0;
        height: 50%;
        width: 100%;
        transition: all 400ms ease-in-out;

        h3, p, a {
            color: #FFFFFF;
        }

        &:hover {
            opacity: 1;
            height: 100%;
            cursor: pointer;
        }
    }

}