._honey_shop_header {
    height: 100vh;
    ._menu-bar {
        li {
            list-style: none; 
            a {
                color: $yellow_color;
            }

            &.active {
                transition: all 300ms ease-in-out;
                a {
                    border-top: 3px solid #fff;
                    color: #fff !important;
                }
                &:hover {
                    color: #fff;
                    transform: scale(1.05);
                }
            }
        }
    }
    ._cart-language {
        li {
            list-style: none; 
            a {
                color: #fff;
            }
        }
    }

    ._hero-section {
        margin-top: 6rem;
        ._welcome-text {
            line-height: 1.5;
        }
    }
}