.image {
    overflow: hidden; 

    img {
        width: 100%;
        min-height: 100%;
        object-fit: cover;
    }
}

.image-alt {
    overflow: hidden; 
    height: 300px;
    img {
        width: 100%;
        min-height: 100%;
        object-fit: cover;
    }
}

// buttons
.btn-red {
    padding-left: 25px !important;
    padding-right: 25px !important;
    color: #fff;
    background: $red_color;
}
.btn-orange {
    padding-left: 25px !important;
    padding-right: 25px !important;
    color: #fff;
    background: $orange_color;
}
.btn-yellow {
    padding-left: 25px !important;
    padding-right: 25px !important;
    color: #fff;
    background: $yellow_color;
}

// background colors
.bg-yellow {
    background: $yellow_color;
}

.bg-brown {
    background: $brown_color;
}
// background gradients
.bg-gradient {
    background: linear-gradient(
        to bottom right,
        $brown_color,
        $yellow_color
    );
}
.bg-gradient-reverse {
    background: linear-gradient(
        to bottom right,
        $yellow_color,
        $brown_color
    );
}
